{
    "tracker": {
        "debug": "true",
        "db": {
            "type": {
                "vendor": "Mindweb",
                "namespace": "DbMysql",
                "name": "MysqlConnection"
            },
            "adapter": {
                "driver": "pdo_mysql",
                "host": "127.0.0.1",
                "dbname": "analytics",
                "user": "user",
                "password": "password",
                "charset": "utf8"
            }
        },
        "uuid": {
            "prefix": "tracker_",
            "moreEntropy": true
        },
        "subscribers": {
            "recognizers": [
                "Mindweb\\StandardRecognizers\\UserAgentFromHeaderRecognizer",
                "Mindweb\\StandardRecognizers\\ReferrerFromUrlRecognizer",
                "Mindweb\\StandardRecognizers\\ReturningFromUrlRecognizer",
                "Mindweb\\StandardRecognizers\\UUIDRecognizer",
                "Mindweb\\StandardRecognizers\\UTCDateRecognizer"
            ],
            "persistence": [],
            "resolvers": [
                "Mindweb\\StandardResolvers\\JsonResolve"
            ]
        }
    }
}