{
    "tracker": {
        "debug": "true",
        "db": {
            "type": {
                "vendor": "Mindweb",
                "namespace": "DbMysql",
                "name": "MysqlConnection"
            },
            "adapter": {
                "driver": "pdo_mysql",
                "host": "localhost",
                "dbname": "database_name",
                "user": "user",
                "password": "password",
                "charset": "utf8"
            }
        },
        "recognizers": [],
        "persistence": []
    }
}